In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/meetsudra/Desktop/Master.csv")

In [3]:
df.count()

Date                         3712
Bank Name                    3604
Atm's on-site                3531
Atm's off-site               3531
Credit card cash withdraw    3533
Debit card cash withdraw     3533
dtype: int64

# Removing Unwanted bank names

In [4]:
df["Bank Name"].unique()

array([nan, 'BANK OF BARODA', 'BANK OF INDIA', 'BANK OF MAHARASHTRA',
       'CANARA BANK', 'CENTRAL BANK OF INDIA', 'INDIAN BANK',
       'INDIAN OVERSEAS BANK', 'PUNJAB AND SIND BANK',
       'PUNJAB NATIONAL BANK', 'STATE BANK OF INDIA', 'UCO BANK',
       'UNION BANK OF INDIA', 'AXIS BANK LTD', 'BANDHAN BANK LTD',
       'CITY UNION BANK LTD.', 'CSB BANK LTD.', 'DCB BANK LTD',
       'DHANALAXMI BANK LTD', 'FEDERAL BANK LTD', 'HDFC BANK LTD',
       'ICICI BANK LTD', 'IDBI BANK LTD', 'IDFC FIRST BANK LTD',
       'INDUSIND BANK LTD', 'JAMMU AND KASHMIR BANK LTD',
       'KARNATAKA BANK LTD', 'KARUR VYSYA BANK LTD',
       'KOTAK MAHINDRA BANK LTD', 'NAINITAL BANK LTD', 'RBL BANK LTD',
       'SOUTH INDIAN BANK', 'TAMILNAD MERCANTILE BANK LTD',
       'YES BANK LTD', 'DHANALAKSHMI BANK LTD', 'CITY UNION BANK',
       'CATHOLIC SYRIAN BANK LTD', 'IDBI LTD', 'IDFC Bank Limited',
       'JAMMU AND KASHMIR BANK', 'RATNAKAR BANK LIMITED', 'CSB BANK LTD',
       'Scheduled Commercial Banks', 'Public Sector Banks',
       'Private Sector Banks', 'CSB BANK LIMITED',
       'THE LAXMI VILAS BANK LTD', 'ALLAHABAD BANK', 'ANDHRA BANK',
       'CORPORATION BANK', 'ORIENTAL BANK OF COMMERCE', 'SYNDICATE BANK',
       'UNITED BANK OF INDIA', 'Bank Name', 'DENA BANK', 'VIJAYA BANK',
       'DCB BANK LTD.', 'DEVELOPMENT CREDIT BANK', 'Bandhan Bank Ltd',
       'BANDHAN BANK', 'DEVELOPMENT CREDIT BANK ', 'IDFC BANK LTD',
       'STATE BANK OF BIKANER AND JAIPUR', 'STATE BANK OF HYDERABAD',
       'STATE BANK OF MYSORE', 'STATE BANK OF PATIALA',
       'STATE BANK OF TRAVANCORE'], dtype=object)

In [5]:
# Define the list of unwanted bank names
unwanted_banks = ["Private Sector Banks", "Public Sector Banks", "Scheduled Commercial Banks","Bank Name"]

# Remove rows where "Bank Name" is in the unwanted list
df = df[~df["Bank Name"].isin(unwanted_banks)]

# Display the first few rows after filtering
print(df.head())

      Date            Bank Name  Atm's on-site  Atm's off-site  \
0  Jan2025                  NaN            NaN             NaN
1  Jan2025       BANK OF BARODA         8504.0          2411.0
2  Jan2025        BANK OF INDIA         5341.0          2895.0
3  Jan2025  BANK OF MAHARASHTRA         2197.0           252.0
4  Jan2025          CANARA BANK         8174.0          3794.0

   Credit card cash withdraw  Debit card cash withdraw
0                        NaN                       NaN
1                    63510.0               120380330.0
2                    29163.0                63783084.0
3                     3709.0                29366539.0
4                   560312.0               150843429.0

In [6]:
df["Bank Name"].unique()

array([nan, 'BANK OF BARODA', 'BANK OF INDIA', 'BANK OF MAHARASHTRA',
       'CANARA BANK', 'CENTRAL BANK OF INDIA', 'INDIAN BANK',
       'INDIAN OVERSEAS BANK', 'PUNJAB AND SIND BANK',
       'PUNJAB NATIONAL BANK', 'STATE BANK OF INDIA', 'UCO BANK',
       'UNION BANK OF INDIA', 'AXIS BANK LTD', 'BANDHAN BANK LTD',
       'CITY UNION BANK LTD.', 'CSB BANK LTD.', 'DCB BANK LTD',
       'DHANALAXMI BANK LTD', 'FEDERAL BANK LTD', 'HDFC BANK LTD',
       'ICICI BANK LTD', 'IDBI BANK LTD', 'IDFC FIRST BANK LTD',
       'INDUSIND BANK LTD', 'JAMMU AND KASHMIR BANK LTD',
       'KARNATAKA BANK LTD', 'KARUR VYSYA BANK LTD',
       'KOTAK MAHINDRA BANK LTD', 'NAINITAL BANK LTD', 'RBL BANK LTD',
       'SOUTH INDIAN BANK', 'TAMILNAD MERCANTILE BANK LTD',
       'YES BANK LTD', 'DHANALAKSHMI BANK LTD', 'CITY UNION BANK',
       'CATHOLIC SYRIAN BANK LTD', 'IDBI LTD', 'IDFC Bank Limited',
       'JAMMU AND KASHMIR BANK', 'RATNAKAR BANK LIMITED', 'CSB BANK LTD',
       'CSB BANK LIMITED', 'THE LAXMI VILAS BANK LTD', 'ALLAHABAD BANK',
       'ANDHRA BANK', 'CORPORATION BANK', 'ORIENTAL BANK OF COMMERCE',
       'SYNDICATE BANK', 'UNITED BANK OF INDIA', 'DENA BANK',
       'VIJAYA BANK', 'DCB BANK LTD.', 'DEVELOPMENT CREDIT BANK',
       'Bandhan Bank Ltd', 'BANDHAN BANK', 'DEVELOPMENT CREDIT BANK ',
       'IDFC BANK LTD', 'STATE BANK OF BIKANER AND JAIPUR',
       'STATE BANK OF HYDERABAD', 'STATE BANK OF MYSORE',
       'STATE BANK OF PATIALA', 'STATE BANK OF TRAVANCORE'], dtype=object)

# Removing null values

In [7]:
df["Bank Name"].isnull().sum()

108

In [8]:
nan_indices = df[df["Bank Name"].isnull()].index

# Print the index numbers
print(nan_indices)

Index([   0,   13,   35,   36,   49,   71,   72,   73,   86,  108,
       ...
       1162, 1183, 1184, 1197, 1218, 1219, 1232, 2041, 2078, 2121],
      dtype='int64', length=108)

In [9]:
# Drop rows where "Bank Name" is NaN
df = df.dropna(subset=["Bank Name"])

# Drop rows that are completely empty
df = df.dropna(how="all")

In [10]:
nan_indices = df[df["Bank Name"].isnull()].index

# Print the index numbers
print(nan_indices)

Index([], dtype='int64')

In [11]:
df["Bank Name"].unique()

array(['BANK OF BARODA', 'BANK OF INDIA', 'BANK OF MAHARASHTRA',
       'CANARA BANK', 'CENTRAL BANK OF INDIA', 'INDIAN BANK',
       'INDIAN OVERSEAS BANK', 'PUNJAB AND SIND BANK',
       'PUNJAB NATIONAL BANK', 'STATE BANK OF INDIA', 'UCO BANK',
       'UNION BANK OF INDIA', 'AXIS BANK LTD', 'BANDHAN BANK LTD',
       'CITY UNION BANK LTD.', 'CSB BANK LTD.', 'DCB BANK LTD',
       'DHANALAXMI BANK LTD', 'FEDERAL BANK LTD', 'HDFC BANK LTD',
       'ICICI BANK LTD', 'IDBI BANK LTD', 'IDFC FIRST BANK LTD',
       'INDUSIND BANK LTD', 'JAMMU AND KASHMIR BANK LTD',
       'KARNATAKA BANK LTD', 'KARUR VYSYA BANK LTD',
       'KOTAK MAHINDRA BANK LTD', 'NAINITAL BANK LTD', 'RBL BANK LTD',
       'SOUTH INDIAN BANK', 'TAMILNAD MERCANTILE BANK LTD',
       'YES BANK LTD', 'DHANALAKSHMI BANK LTD', 'CITY UNION BANK',
       'CATHOLIC SYRIAN BANK LTD', 'IDBI LTD', 'IDFC Bank Limited',
       'JAMMU AND KASHMIR BANK', 'RATNAKAR BANK LIMITED', 'CSB BANK LTD',
       'CSB BANK LIMITED', 'THE LAXMI VILAS BANK LTD', 'ALLAHABAD BANK',
       'ANDHRA BANK', 'CORPORATION BANK', 'ORIENTAL BANK OF COMMERCE',
       'SYNDICATE BANK', 'UNITED BANK OF INDIA', 'DENA BANK',
       'VIJAYA BANK', 'DCB BANK LTD.', 'DEVELOPMENT CREDIT BANK',
       'Bandhan Bank Ltd', 'BANDHAN BANK', 'DEVELOPMENT CREDIT BANK ',
       'IDFC BANK LTD', 'STATE BANK OF BIKANER AND JAIPUR',
       'STATE BANK OF HYDERABAD', 'STATE BANK OF MYSORE',
       'STATE BANK OF PATIALA', 'STATE BANK OF TRAVANCORE'], dtype=object)

# Figuring out different name of banks, altho they are one. They are such as follow:

CSB BANK LTD = 'CSB BANK LTD' and 'CSB BANK LIMITED'

CITY UNION BANK = 'CITY UNION BANK LTD.' and 'CITY UNION BANK'

DHANALAKSHMI BANK = 'DHANALAXMI BANK LTD' and 'DHANALAKSHMI BANK LTD'

CATHOLIC SYRIAN BANK = 'CATHOLIC SYRIAN BANK LTD' and 'CSB BANK LTD' (which might be referring to the same)

IDBI BANK = 'IDBI BANK LTD' and 'IDBI LTD'

IDFC BANK = 'IDFC FIRST BANK LTD' and 'IDFC BANK LTD' and 'IDFC Bank Limited'

JAMMU AND KASHMIR BANK = 'JAMMU AND KASHMIR BANK LTD' and 'JAMMU AND KASHMIR BANK'

RATNAKAR BANK = 'RBL BANK LTD' and 'RATNAKAR BANK LIMITED'

DEVELOPMENT CREDIT BANK = 'DEVELOPMENT CREDIT BANK' and 'DEVELOPMENT CREDIT BANK ' (extra space at the end)

BANDHAN BANK = 'BANDHAN BANK LTD' and 'BANDHAN BANK' and 'Bandhan Bank Ltd'

DCB BANK = 'DCB BANK LTD' and 'DCB BANK LTD.'

In [42]:
# Filter rows where 'Bank Name' is either 'CSB BANK LTD' or 'CSB BANK LIMITED'
csb_df = df[df["Bank Name"].isin(["CSB BANK LTD", "CSB BANK LIMITED","CATHOLIC SYRIAN BANK LTD","CSB BANK LTD."])]

# Display the filtered DataFrame
print(csb_df)

         Date      Bank Name  Atm's on-site  Atm's off-site  \
17    Jan2025  CSB BANK LTD.          745.0            39.0
53    Dec2024  CSB BANK LTD.          737.0            40.0
90    Nov2024  CSB BANK LTD.          728.0            44.0
126   Oct2024  CSB BANK LTD.          726.0            44.0
162   Sep2024  CSB BANK LTD.          723.0            47.0
...       ...            ...            ...             ...
3512  May2017   CSB BANK LTD          202.0            60.0
3554  Apr2017   CSB BANK LTD          204.0            58.0
3600  Mar2017   CSB BANK LTD          205.0            58.0
3647  Feb2017   CSB BANK LTD          201.0            57.0
3694  Jan2017   CSB BANK LTD          198.0            57.0

      Credit card cash withdraw  Debit card cash withdraw
17                          0.0                2231814.00
53                          0.0                2246526.00
90                          0.0                2106095.00
126                         0.0                2296610.00
162                         0.0                2192156.00
...                         ...                       ...
3512                        0.0                   1394.90
3554                        0.0                   1302.75
3600                        0.0                   1384.90
3647                        0.0                   1278.30
3694                        0.0                    856.50

[97 rows x 6 columns]

In [43]:
# List of variations to replace
city_union_variations = ["CSB BANK LTD", "CSB BANK LIMITED","CATHOLIC SYRIAN BANK LTD","CSB BANK LTD."]

# Replace all variations with "CSB BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "CSB BANK LTD")

In [15]:
# Filter rows where 'Bank Name' is either 'CITY UNION BANK LTD.' or 'CITY UNION BANK'
cub_df = df[df["Bank Name"].isin(["CITY UNION BANK LTD.", "CITY UNION BANK"])]

# Display the filtered DataFrame
print(cub_df)

         Date             Bank Name  Atm's on-site  Atm's off-site  \
16    Jan2025  CITY UNION BANK LTD.         1179.0           518.0
52    Dec2024  CITY UNION BANK LTD.         1170.0           523.0
89    Nov2024  CITY UNION BANK LTD.         1172.0           519.0
125   Oct2024  CITY UNION BANK LTD.         1166.0           520.0
161   Sep2024  CITY UNION BANK LTD.         1163.0           519.0
...       ...                   ...            ...             ...
3513  May2017       CITY UNION BANK          824.0           684.0
3555  Apr2017       CITY UNION BANK          815.0           686.0
3601  Mar2017       CITY UNION BANK          805.0           681.0
3648  Feb2017       CITY UNION BANK          756.0           675.0
3695  Jan2017       CITY UNION BANK          737.0           675.0

      Credit card cash withdraw  Debit card cash withdraw
16                      1237.00               13638792.00
52                      1419.00               13297319.00
89                      1361.00               12538655.00
125                     1675.00               14838934.00
161                     1472.00               13923557.00
...                         ...                       ...
3513                       0.20                   7650.10
3555                       0.21                   7103.75
3601                       0.20                   7478.40
3648                       0.20                   5653.40
3695                       0.20                   3331.80

[97 rows x 6 columns]

In [16]:
# List of variations to replace
city_union_variations = ["CITY UNION BANK LTD.", "CITY UNION BANK"]

# Replace all variations with "CITY UNION BANK"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "CITY UNION BANK")

In [ ]:
# Filter rows where 'Bank Name' is either 'DHANALAXMI BANK LTD' or 'CITY UNION BANK'
dl_df = df[df["Bank Name"].isin(["DHANALAXMI BANK LTD", "DHANALAKSHMI BANK LTD"])]

# Display the filtered DataFrame
print(dl_df)

         Date              Bank Name  Atm's on-site  Atm's off-site  \
19    Jan2025    DHANALAXMI BANK LTD          241.0            39.0
55    Dec2024    DHANALAXMI BANK LTD          241.0            39.0
92    Nov2024    DHANALAXMI BANK LTD          241.0            39.0
128   Oct2024  DHANALAKSHMI BANK LTD          241.0            39.0
164   Sep2024  DHANALAKSHMI BANK LTD          241.0            39.0
...       ...                    ...            ...             ...
3515  May2017  DHANALAKSHMI BANK LTD          200.0           171.0
3557  Apr2017  DHANALAKSHMI BANK LTD          200.0           171.0
3603  Mar2017  DHANALAKSHMI BANK LTD          199.0           172.0
3650  Feb2017  DHANALAKSHMI BANK LTD          199.0           174.0
3697  Jan2017  DHANALAKSHMI BANK LTD          198.0           175.0

      Credit card cash withdraw  Debit card cash withdraw
19                       998.00                1929435.00
55                      1030.00                1917014.00
92                      1013.00                1840756.00
128                      953.00                1949932.00
164                      814.00                1954449.00
...                         ...                       ...
3515                       0.30                   1680.40
3557                       0.31                   1600.25
3603                       0.30                   1705.80
3650                       0.30                   1480.90
3697                       0.10                   1365.90

[97 rows x 6 columns]

In [19]:
# List of variations to replace
city_union_variations = ["DHANALAKSHMI BANK LTD", "DHANALAXMI BANK LTD"]

# Replace all variations with "DHANALAKSHMI BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "DHANALAKSHMI BANK LTD")

In [ ]:
"IDBI BANK LTD", "IDBI LTD"

In [ ]:
# Filter rows where 'Bank Name' is either "IDBI BANK LTD" or "IDBI LTD"
idbi_df = df[df["Bank Name"].isin(["IDBI BANK LTD", "IDBI LTD"])]

# Display the filtered DataFrame
print(idbi_df)

         Date      Bank Name  Atm's on-site  Atm's off-site  \
23    Jan2025  IDBI BANK LTD         2383.0           776.0
59    Dec2024  IDBI BANK LTD         2377.0           807.0
96    Nov2024  IDBI BANK LTD         2366.0           867.0
132   Oct2024  IDBI BANK LTD         2363.0           876.0
168   Sep2024  IDBI BANK LTD         2354.0           887.0
...       ...            ...            ...             ...
3508  May2017       IDBI LTD         2150.0          1648.0
3550  Apr2017       IDBI LTD         1823.0          1714.0
3591  Mar2017       IDBI LTD         1822.0          1715.0
3638  Feb2017       IDBI LTD         1786.0          1706.0
3685  Jan2017       IDBI LTD         1782.0          1687.0

      Credit card cash withdraw  Debit card cash withdraw
23                       3356.0                26523127.0
59                       3132.0                26263758.0
96                       3382.0                24648840.0
132                      3451.0                30814525.0
168                      3464.0                26001170.0
...                         ...                       ...
3508                        4.0                   35621.4
3550                        3.7                   36050.7
3591                        3.2                   41492.4
3638                        2.2                   27816.4
3685                        6.1                   24158.4

[97 rows x 6 columns]

In [22]:
# List of variations to replace
city_union_variations = ["IDBI BANK LTD", "IDBI LTD"]

# Replace all variations with "IDBI BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "IDBI BANK LTD")

In [24]:
# Filter rows where 'Bank Name' is either "IDFC FIRST BANK LTD" or  "IDFC BANK LTD" or "IDFC Bank Limited"
idfc_df = df[df["Bank Name"].isin(["IDFC FIRST BANK LTD", "IDFC BANK LTD", "IDFC Bank Limited"])]

# Display the filtered DataFrame
print(idfc_df)

         Date            Bank Name  Atm's on-site  Atm's off-site  \
24    Jan2025  IDFC FIRST BANK LTD          906.0           311.0
60    Dec2024  IDFC FIRST BANK LTD          913.0           295.0
97    Nov2024  IDFC FIRST BANK LTD          910.0           294.0
133   Oct2024  IDFC FIRST BANK LTD          905.0           331.0
169   Sep2024  IDFC FIRST BANK LTD          902.0           331.0
...       ...                  ...            ...             ...
3519  May2017        IDFC BANK LTD           20.0             1.0
3561  Apr2017        IDFC BANK LTD           20.0             1.0
3607  Mar2017        IDFC BANK LTD           20.0             1.0
3654  Feb2017        IDFC BANK LTD           20.0             1.0
3701  Jan2017        IDFC BANK LTD           20.0             1.0

      Credit card cash withdraw  Debit card cash withdraw
24                     122670.0                19277859.0
60                     128393.0                19173071.0
97                     121685.0                18439936.0
133                    134854.0                22076134.0
169                    125617.0                18964138.0
...                         ...                       ...
3519                        0.0                    1273.3
3561                        0.0                    1134.2
3607                        0.0                     983.0
3654                        0.0                     680.6
3701                        0.0                     351.9

[97 rows x 6 columns]

IDFC FIRST Bank, in its Board meeting, announced the completion of merger of IDFC Limited with IDFC FIRST Bank. technically it shdnt be merged!

In [25]:
# Filter rows where 'Bank Name' is either "JAMMU AND KASHMIR BANK LTD" or "JAMMU AND KASHMIR BANK"
jk_df = df[df["Bank Name"].isin(["JAMMU AND KASHMIR BANK LTD", "JAMMU AND KASHMIR BANK"])]

# Display the filtered DataFrame
print(jk_df)

         Date                   Bank Name  Atm's on-site  Atm's off-site  \
26    Jan2025  JAMMU AND KASHMIR BANK LTD          944.0           634.0
62    Dec2024  JAMMU AND KASHMIR BANK LTD          944.0           633.0
99    Nov2024  JAMMU AND KASHMIR BANK LTD          947.0           632.0
135   Oct2024  JAMMU AND KASHMIR BANK LTD          945.0           632.0
171   Sep2024  JAMMU AND KASHMIR BANK LTD          948.0           631.0
...       ...                         ...            ...             ...
3521  May2017      JAMMU AND KASHMIR BANK          651.0           464.0
3563  Apr2017      JAMMU AND KASHMIR BANK          646.0           456.0
3609  Mar2017      JAMMU AND KASHMIR BANK          640.0           456.0
3656  Feb2017      JAMMU AND KASHMIR BANK          643.0           449.0
3703  Jan2017      JAMMU AND KASHMIR BANK          640.0           449.0

      Credit card cash withdraw  Debit card cash withdraw
26                      51449.0               26191822.00
62                      41588.0               27926297.00
99                      41364.0               29720584.00
135                     44356.0               33557414.00
171                     39697.0               28165019.00
...                         ...                       ...
3521                       22.7                  21827.40
3563                       22.0                  20888.89
3609                       22.4                  20187.70
3656                       16.8                  16216.40
3703                       13.2                  11141.40

[97 rows x 6 columns]

In [26]:
# List of variations to replace
city_union_variations = ["JAMMU AND KASHMIR BANK LTD", "JAMMU AND KASHMIR BANK"]

# Replace all variations with "JAMMU AND KASHMIR BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "JAMMU AND KASHMIR BANK LTD")

In [30]:
# Filter rows where 'Bank Name' is either "BANDHAN BANK LTD" or "BANDHAN BANK" or "Bandhan Bank Ltd"
bb_df = df[df["Bank Name"].isin(["BANDHAN BANK LTD", "BANDHAN BANK", "Bandhan Bank Ltd"])]

# Display the filtered DataFrame
print(bb_df)

         Date         Bank Name  Atm's on-site  Atm's off-site  \
15    Jan2025  BANDHAN BANK LTD          433.0             5.0
51    Dec2024  BANDHAN BANK LTD          433.0             5.0
88    Nov2024  BANDHAN BANK LTD          433.0             5.0
124   Oct2024  BANDHAN BANK LTD          433.0             5.0
160   Sep2024  BANDHAN BANK LTD          433.0             5.0
...       ...               ...            ...             ...
3511  May2017      BANDHAN BANK          372.0             0.0
3553  Apr2017      BANDHAN BANK          297.0             0.0
3599  Mar2017      BANDHAN BANK          282.0             0.0
3646  Feb2017      BANDHAN BANK          281.0             0.0
3693  Jan2017      BANDHAN BANK          277.0             0.0

      Credit card cash withdraw  Debit card cash withdraw
15                          0.0                12527291.0
51                          0.0                13046399.0
88                          0.0                12690347.0
124                         0.0                15030506.0
160                         0.0                14217969.0
...                         ...                       ...
3511                        0.0                    7488.1
3553                        0.0                   10232.4
3599                        0.0                   16819.4
3646                        0.0                   13516.5
3693                        0.0                    9271.3

[97 rows x 6 columns]

In [31]:
# List of variations to replace
city_union_variations = ["BANDHAN BANK LTD", "BANDHAN BANK", "Bandhan Bank Ltd"]

# Replace all variations with "BANDHAN BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "BANDHAN BANK LTD")

In [35]:
# Filter rows where 'Bank Name' is either "DCB BANK LTD", "DCB BANK LTD.","DEVELOPMENT CREDIT BANK", "DEVELOPMENT CREDIT BANK "
dc_df = df[df["Bank Name"].isin(["DCB BANK LTD", "DCB BANK LTD.","DEVELOPMENT CREDIT BANK", "DEVELOPMENT CREDIT BANK "])]

# Display the filtered DataFrame
print(dc_df)

         Date                Bank Name  Atm's on-site  Atm's off-site  \
18    Jan2025             DCB BANK LTD          425.0             5.0
54    Dec2024             DCB BANK LTD          425.0             5.0
91    Nov2024             DCB BANK LTD          425.0             5.0
127   Oct2024             DCB BANK LTD          425.0             5.0
163   Sep2024             DCB BANK LTD          423.0             5.0
...       ...                      ...            ...             ...
3514  May2017  DEVELOPMENT CREDIT BANK          228.0           267.0
3556  Apr2017  DEVELOPMENT CREDIT BANK          221.0           298.0
3602  Mar2017  DEVELOPMENT CREDIT BANK          217.0           298.0
3649  Feb2017  DEVELOPMENT CREDIT BANK          216.0           298.0
3696  Jan2017  DEVELOPMENT CREDIT BANK          210.0           292.0

      Credit card cash withdraw  Debit card cash withdraw
18                         2.00                1558676.00
54                         2.00                1637803.00
91                         0.00                1570401.00
127                        5.00                1777316.00
163                        0.00                1508997.00
...                         ...                       ...
3514                       5.00                   1675.30
3556                       4.31                   1603.51
3602                       4.10                   1653.90
3649                       3.20                   1335.50
3696                       2.10                    853.20

[97 rows x 6 columns]

In [36]:
# List of variations to replace
city_union_variations = ["DCB BANK LTD", "DCB BANK LTD.","DEVELOPMENT CREDIT BANK", "DEVELOPMENT CREDIT BANK "]

# Replace all variations with "DCB BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "DCB BANK LTD")

In [38]:
# Filter rows where 'Bank Name' is either "RBL BANK LTD", "RATNAKAR BANK LIMITED"
rbl_df = df[df["Bank Name"].isin(["RBL BANK LTD", "RATNAKAR BANK LIMITED"])]

# Display the filtered DataFrame
print(rbl_df)

         Date              Bank Name  Atm's on-site  Atm's off-site  \
31    Jan2025           RBL BANK LTD          377.0            35.0
67    Dec2024           RBL BANK LTD          376.0            35.0
104   Nov2024           RBL BANK LTD          373.0            35.0
140   Oct2024           RBL BANK LTD          371.0            35.0
176   Sep2024           RBL BANK LTD          370.0            36.0
...       ...                    ...            ...             ...
3525  May2017  RATNAKAR BANK LIMITED          163.0           224.0
3567  Apr2017  RATNAKAR BANK LIMITED          158.0           224.0
3613  Mar2017  RATNAKAR BANK LIMITED          150.0           225.0
3660  Feb2017  RATNAKAR BANK LIMITED          149.0           225.0
3707  Jan2017  RATNAKAR BANK LIMITED          149.0           225.0

      Credit card cash withdraw  Debit card cash withdraw
31                    146919.00                2899033.00
67                    156871.00                2789844.00
104                   152701.00                2669443.00
140                   160162.00                3240317.00
176                   157745.00                2778244.00
...                         ...                       ...
3525                      82.00                   1443.10
3567                      69.06                   1467.92
3613                      49.50                   1472.10
3660                      29.20                   1142.50
3707                      17.80                    744.60

[97 rows x 6 columns]

In [39]:
# List of variations to replace
city_union_variations = ["RBL BANK LTD", "RATNAKAR BANK LIMITED"]

# Replace all variations with "RBL BANK LTD"
df["Bank Name"] = df["Bank Name"].replace(city_union_variations, "RBL BANK LTD")

In [44]:
df["Bank Name"].unique()

array(['BANK OF BARODA', 'BANK OF INDIA', 'BANK OF MAHARASHTRA',
       'CANARA BANK', 'CENTRAL BANK OF INDIA', 'INDIAN BANK',
       'INDIAN OVERSEAS BANK', 'PUNJAB AND SIND BANK',
       'PUNJAB NATIONAL BANK', 'STATE BANK OF INDIA', 'UCO BANK',
       'UNION BANK OF INDIA', 'AXIS BANK LTD', 'BANDHAN BANK LTD',
       'CITY UNION BANK', 'CSB BANK LTD', 'DCB BANK LTD',
       'DHANALAKSHMI BANK LTD', 'FEDERAL BANK LTD', 'HDFC BANK LTD',
       'ICICI BANK LTD', 'IDBI BANK LTD', 'IDFC FIRST BANK LTD',
       'INDUSIND BANK LTD', 'JAMMU AND KASHMIR BANK LTD',
       'KARNATAKA BANK LTD', 'KARUR VYSYA BANK LTD',
       'KOTAK MAHINDRA BANK LTD', 'NAINITAL BANK LTD', 'RBL BANK LTD',
       'SOUTH INDIAN BANK', 'TAMILNAD MERCANTILE BANK LTD',
       'YES BANK LTD', 'IDFC Bank Limited', 'THE LAXMI VILAS BANK LTD',
       'ALLAHABAD BANK', 'ANDHRA BANK', 'CORPORATION BANK',
       'ORIENTAL BANK OF COMMERCE', 'SYNDICATE BANK',
       'UNITED BANK OF INDIA', 'DENA BANK', 'VIJAYA BANK',
       'IDFC BANK LTD', 'STATE BANK OF BIKANER AND JAIPUR',
       'STATE BANK OF HYDERABAD', 'STATE BANK OF MYSORE',
       'STATE BANK OF PATIALA', 'STATE BANK OF TRAVANCORE'], dtype=object)

In [45]:
df.to_csv("/Users/meetsudra/Documents/GitHub/ATM Cash Forecasting/RBIDATA.csv",index=False)